<div class="sidebar">
  <ul>
    <li>
      <i class="fa-solid fa-magnifying-glass app-li "></i>
    </li>
    <li>
      <i class="fa-solid fa-house app-li active"></i>
    </li>
    <li>
      <i class="fa-solid fa-film app-li"></i>
    </li>
    <li>
      <i class="fa-solid fa-clapperboard app-li"></i>
    </li>
    <li>
      <i class="fa-solid fa-arrow-down app-li"></i>
    </li>
    <li (click)="showTemplate = !showTemplate" class="account" >
      <img
        src="https://wallpapers.com/images/hd/netflix-profile-pictures-1000-x-1000-qo9h82134t9nv0j0.jpg"
        alt="Profile Picture"
      />

      <!-- استخدام ng-container مع *ngIf لعرض القالب عند النقر -->
      <ng-container *ngIf="showTemplate">
        <ng-container *ngTemplateOutlet="accounts"></ng-container>
      </ng-container>
    </li>
  </ul>

  <!-- القالب ng-template خارج القائمة -->
  <ng-template #accounts>
    <div class="menu">
      <ul>
        <li>
          <p>Profile</p>
          <i class="fa-regular fa-user"></i>
        </li>
        <li>
          <p>Subscription</p>
          <i class="fa-regular fa-money-bill-1"></i>
        </li>
        <li>
          <p>Settings</p>
          <i class="fa-solid fa-gear"></i>
        </li>  <li>
          <p>Logout</p>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </li>
      </ul>
    </div>
  </ng-template>
</div>
