<div class="root">
  <!-- loading -->
  @if (isloading) {
    <div class="loading">
      <div class="loader"></div>
    </div>
   }@else {
  <!-- hero -->
  <div class="hero">
    <!-- info -->
    <div class="info">
      <div class="brand">
        <img
          width="10px"
          src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Netflix_2015_N_logo.svg"
          alt="Logo"
        />
        <h3>FILM</h3>
      </div>
      <h1>{{ movie.movie_data.name }}</h1>
      <!-- <h1>{{ "the irishman".toUpperCase() }}</h1> -->
      <div class="movieDetails">
        <p [style.color]="'#59D600'">{{ movie.tmdb?.popularity?.toFixed(0)}}% Match</p>
        <p>
          <i class="fas fa-calendar-days"></i>
          {{ movie.tmdb?.release_date}}
        </p>
        <p>
          <i class="fas fa-clock"></i>
          {{movie.info.duration_secs | convertToDate}} 
        </p>
      </div>
      <!-- not forget the limiter -->
      <p class="desc">
       {{movie.tmdb?.overview}}
      </p>
      <div class="flex">
        <button
          class="PlayBtn"
          (click)="playMainMovie(getVideoUrl())"
          class="PlayBtn"
        >
          <i class="fa-solid fa-play"></i>
          Play
        </button>
        <button class="More">
          <i class="fab fa-youtube"></i>

          Watch Trailer
        </button>
        <i id="likes" class="fa-solid fa-thumbs-up"></i>
        <i id="likes" class="fa-solid fa-thumbs-down"></i>

        <p class="desc">
          {{movie.info.cast}}
        </p>
      </div>
    </div>
    <!-- filters -->
    <div class="filter"></div>
    <!-- bg-image -->
    <img
      class="bg-image"
      [src]=" movie.tmdb?.backdrop_path| tmdb"
      alt=""
    />
    <!-- tab-bar -->
    <ul class="tab-bar">
      <li routerLink="overview" [routerLinkActive]="'active'">OVERVIEW</li>
      <li routerLink="trailers-more" [routerLinkActive]="'active'">
        TRAILERS & MORE
      </li>
      <li routerLink="more-like-this" [routerLinkActive]="'active'">
        MORE LIKE THIS
      </li>
    </ul>
  </div>
  <!-- any data -->
  <!--  -->
  <section class="dataVeiw">
    <router-outlet></router-outlet>
  </section>
  }
</div>
