<div class="root">
    <!-- hero -->
    <div class="hero">
        <!-- info -->
        <div class="info">
            <div class="brand">
                <img width="10px" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Netflix_2015_N_logo.svg" alt="Logo">
                <h3>FILM</h3>
            </div>
            <h1>{{"the irishman".toUpperCase()}}</h1>
            <div class="movieDetails">
                <p [style.color]="'#59D600'">
                    95% Match
                </p>
                <p>
                    <i class="fas fa-calendar-days"></i>
                    2019
                </p>
                <p>
                    <i class="fas fa-clock"></i>
                    3h 20m
                </p>
            </div>
            <!-- not forget the limiter -->
            <p class="desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti soluta aperiam maxime? Quibusdam perspiciatis iusto minima dolorem quam consequuntur quod, pariatur unde vel odio corporis inventore laborum natus placeat itaque libero iste distinctio nam reiciendis repellendus ipsa tempore dicta, ratione laudantium. Earum expedita assumenda inventore ratione necessitatibus optio impedit amet facere molestias tempora sequi neque quia eos cupiditate, et quis quo, quas praesentium harum fugit eveniet consequuntur quod at laborum! Ratione laudantium dolor neque beatae architecto ipsam cupiditate quae expedita, maiores optio magni incidunt? Veritatis nemo doloribus asperiores cum blanditiis quo perspiciatis exercitationem deleniti modi architecto, sit sint, nam ratione illo quod adipisci magni repellat nisi. Earum exercitationem cum, repudiandae sit vitae iusto neque assumenda, quas itaque fuga, commodi reiciendis.</p>
            <div class="flex">
              <button class="PlayBtn" (click)="playMainMovie(getVideoUrl())" class="PlayBtn">
                <i class="fa-solid fa-play"></i>
                Play
              </button>
              <button class="More">
                <i class="fab fa-youtube"></i>

                Watch Trailer</button>
                <i id="likes" class="fa-solid fa-thumbs-up"></i>
                <i id="likes" class="fa-solid fa-thumbs-down"></i>

                <p class="desc">Lorem ipsum dolor so neque assumenda, quas itaque fuga, commodicommodicommodicommodicommodicommodicommodicommodicommodi reiciendis.</p>

              </div>

        </div>
        <!-- filters -->
        <div class="filter"></div>
        <!-- bg-image -->
        <img class="bg-image" src="https://i.ytimg.com/vi/WHXxVmeGQUc/maxresdefault.jpg" alt="">
        <!-- tab-bar -->
          <ul class="tab-bar">
            <li routerLink="overview" [routerLinkActive]="'active'" >OVERVIEW</li>
            <li routerLink="trailers-more" [routerLinkActive]="'active'" >TRAILERS & MORE</li>
            <li routerLink="more-like-this" [routerLinkActive]="'active'" >MORE LIKE THIS</li>
          </ul>
    </div>
    <!-- any data -->
     <!--  -->
    <section class="dataVeiw">
      <router-outlet></router-outlet>
    </section>
</div>
