<div class="bglogin">
  <img
    src="https://gtwallpaper.org/sites/default/files/wallpaper/246844/netflix-background-246844-2224740-3441109.png"
    alt=""
    srcset=""
  />
  <div class="login">
    <app-nav-bar class="nav" [hiddenBtn]="true"></app-nav-bar>
    <form class="contianer">
      <h1>Sign Up</h1>
      <br />
      <div *ngIf="errorMsg != ''" class="errorMsg">
        {{ errorMsg }}
      </div>
      <input
        [(ngModel)]="userInputs.first_name"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        name="first name"
        required
        required
        placeholder="First Name"
      />
      <input
        type="text"
        [(ngModel)]="userInputs.last_name"
        [ngModelOptions]="{ standalone: true }"
        name="last name"
        required
        placeholder="Last Name"
      />
      <input
        type="email"
        [(ngModel)]="userInputs.email"
        [ngModelOptions]="{ standalone: true }"
        name="email"
        required
        placeholder="Email or mobile number"
      />
      <input
        type="password"
        [(ngModel)]="userInputs.password"
        [ngModelOptions]="{ standalone: true }"
        name="password"
        required
        placeholder="Password"
      />
      <br />
      <div class="rememberMe">
        <input
          [(ngModel)]="isAccept"
          [ngModelOptions]="{ standalone: true }"
          class="check"
          type="checkbox"
          name="accept"
          id="accept"
        />

        <label for="accept"> accept privacy policy? </label>
      </div>
      <button (click)="signup()" class="loginbtn">
        @if (isLoading) {
        <div class="loadingBtn"></div>
        }@else { Create Account }
      </button>

      <h4>OR</h4>
      <button [routerLink]="'/auth/login'" class="new">
        Use Exist Account
      </button>
    </form>
    <p></p>
  </div>
</div>
