<div class="search-section">
  <input type="text" placeholder="Search Now!">
  <button>بحث</button>
</div>

<ul>
  <li *ngFor="let item of items; let i = index;">
    <app-movie-card  [item]="item"></app-movie-card>
  </li>
</ul>
<!-- pagtnation -->

<div class="pagnation">
  <i class="fas fa-angle-left" (click)="changePage('prev')"></i>
  <ul>
    <li *ngFor="let item of getListOfPagination();let i = index" (click)="changePage(i)"  [class.active]="item === currentPage">{{item}}</li>
  </ul>
  <i class="fas fa-angle-right" (click)="changePage('next')"></i>

</div>
