<div class="search-section">
  <i class="fa-solid fa-magnifying-glass"></i>
  <input [(ngModel)]="inputSearch" (keyup)="search()"  type="text" placeholder="Search Now!">
  <!-- <button (click)="search()">بحث</button> -->
</div>

<ul>
  <li *ngFor="let item of paginatedData; let i = index;">
    <app-movie-card  [item]="item"></app-movie-card>
  </li>
</ul>
<!-- pagtnation -->

<div class="pagnation">
  <button class="fas fa-angle-left" (click)="changePage('prev')"></button>
  <ul>
    <li *ngFor="let item of getListOfPagination();let i = index" (click)="changePage(i)"  [class.active]="item === currentPage">{{item}}</li>
  </ul>
  <button class="fas fa-angle-right" (click)="changePage('next')"></button>
</div>
