<div class="main">
  <!-- inputs -->
  <form [formGroup]="form" class="inputs">
    <h1>
      <i class="fa-solid fa-database"></i>
      User Data
    </h1>
    <p>Edit all data of current user.</p>
    <label for="first name">First Name </label>
    <input
      type="text"
      name="first name"
      value="zakria"
      formControlName="firstName"
      placeholder="First Name"
    />
    <div
      *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched"
    >
      <small
        class="errorhint"
        *ngIf="form.get('firstName')?.errors?.['required']"
        >* First Name is required.</small
      >
      <small
        class="errorhint"
        *ngIf="form.get('firstName')?.errors?.['minlength']"
        >* First Name must be at least 3 characters long.</small
      >
    </div>

    <label for="last-name">Last Name</label>
    <input
      type="text"
      name="last name"
      id="last-name"
      formControlName="lastName"
      placeholder="Last Name"
    />
    <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
      <small
        class="errorhint"
        *ngIf="form.get('lastName')?.errors?.['required']"
        >* Last Name is required.</small
      >
      <small
        class="errorhint"
        *ngIf="form.get('lastName')?.errors?.['minlength']"
        >* Last Name must be at least 3 characters long.</small
      >
    </div>

    <label for="first name">Phone </label>
    <input
      type="text"
      name="Phone"
      formControlName="phone"
      placeholder="Phone"
    />
    <div *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched">
      <small class="errorhint" *ngIf="form.get('phone')?.errors?.['required']"
        >* Phone is required.</small
      >
      <small class="errorhint" *ngIf="form.get('phone')?.errors?.['pattern']"
        >* The phone should Start [091,092,094] and 10 digits.</small
      >
    </div>

    <label for="first name">Email Address </label>
    <input
      type="text"
      name="email"
      formControlName="email"
      placeholder="Email"
    />
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small class="errorhint" *ngIf="form.get('phone')?.errors?.['required']">
        * Email is Required
      </small>
      <small class="errorhint" *ngIf="form.get('email')?.errors?.['email']">
        * please Enter the Email correct
      </small>
    </div>
    <div class="btns">
      <button (click)="onSubmit()">Save</button>
      <a href="#">Change Password</a>
    </div>
  </form>
  <!-- divider -->
  <div class="dividerV"></div>
  <!-- char -->
  <div class="chart">
    <h1>
      <i class="fa-solid fa-wifi"></i>
      Bandwidth Using
    </h1>
    <p>using the network in your Server.</p>
    <div id="cc" echarts #myChart [options]="option"></div>
    <p style="align-self: center; margin: 20px">Account Network Usage</p>
    <div class="counting">
      <div class="item">
        <app-animated-counter
          [value]="68"
          [duration]="3000"
          [stepTime]="50"
        ></app-animated-counter>
        <label>MBs Using</label>
      </div>
      <div class="item">
        <app-animated-counter
          [value]="32"
          [duration]="3000"
          [stepTime]="50"
        ></app-animated-counter>
        <label>MBs Rest</label>
      </div>
      <div class="item">
        <app-animated-counter
          [value]="100"
          [duration]="3000"
          [stepTime]="50"
        ></app-animated-counter>
        <label>MBs Full</label>
      </div>
    </div>
  </div>
</div>
