<div class="home">
  @if(isloading){
  <div class="loading">
    <div class="loader"></div>
  </div>
  }@else{
  <div class="hero">
    <div class="infomation">
      <div class="logoTitle flex">
        <img width="10px" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Netflix_2015_N_logo.svg"
          alt="Logo" />
        <h3>Series</h3>
      </div>
      <br />
      <img class="poster" [src]="mainMovie?.info?.movie_image" alt="Logo" />
      <!-- <h3>#1 in TV Shows Today</h3> -->
      <h3>{{mainMovie?.movie_data?.name}}</h3>
      <p>
        {{mainMovie?.tmdb?.original_title}}
      </p>
      <div class="flex">

        <a target="_blank"
          [href]="(mainMovie?.movie_data?.stream_id + '.' + mainMovie?.movie_data?.container_extension) | videoRunner:userName:password"
          class="PlayBtn">
          <i class="fa-solid fa-play"></i>
          Play
        </a>

        <button class="More">More info</button>
      </div>
    </div>
    <!-- filter -->
    <div class="filter"></div>
    <!-- <img [src]="mainMovie?.info?.movie_image" alt=""> -->
    <img class="bgImage" [src]=" mainMovie?.tmdb?.backdrop_path| tmdb" alt="">
  </div>
  <!-- libs -->

  <section>
    <br>
    <h1>Netfix Movies</h1>
    <div class="movies">
      <div (click)="selectMovie(item)" *ngFor="let item of list" class="movie">
        <img [src]="item.stream_icon " alt="">
        <p>{{ item.name || 'Untitled' }}</p>
      </div>
    </div>
  </section>
  }
</div>
<!--  "x" -->
