<div class="home"  #homePage>
  @if(isloading){
  <div class="loading">
    <div class="loader"></div>
  </div>
  }@else{
  <div class="hero">
    <div class="infomation">
      <div class="logoTitle flex">
        <img width="10px" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Netflix_2015_N_logo.svg"
          alt="Logo" />
        <h3>Movies</h3>
      </div>
      <br />
      <img class="poster" [src]="mainMovie?.info?.movie_image" alt="Logo" />
      <!-- <h3>#1 in TV Shows Today</h3> -->
      <h3>{{mainMovie?.movie_data?.name}}</h3>
      <p class="desc">
     <!-- {{mainMovie?.info?.description}}
       -->
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolore optio aliquid dicta nisi eos magni itaque vero suscipit assumenda quo voluptas fugit perspiciatis amet libero minus obcaecati tempora deserunt, officia fugiat maxime debitis cupiditate consequatur placeat! Quibusdam tempora recusandae tenetur mollitia, nesciunt consequuntur, commodi dignissimos nihil vero reprehenderit at.
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolore optio aliquid dicta nisi eos magni itaque vero suscipit assumenda quo voluptas fugit perspiciatis amet libero minus obcaecati tempora deserunt, officia fugiat maxime debitis cupiditate consequatur placeat! Quibusdam tempora recusandae tenetur mollitia, nesciunt consequuntur, commodi dignissimos nihil vero reprehenderit at.
      </p>
      <div class="flex">
        <button class="PlayBtn" (click)="playMainMovie(getVideoUrl())" class="PlayBtn">
          <i class="fa-solid fa-play"></i>
          Play
        </button>
        <button (click)="goToMovive(list[0])" class="More">More info</button>
      </div>
    </div>
    <!-- filter -->
    <div class="filter"></div>
    <div class="filter2"></div>
    <div class="categoryFilm">
      <h4>{{mainMovie?.info?.genre != "" ? mainMovie?.info?.genre:"ByNetflix"}}</h4>
    </div>
    <img class="bgImage" [src]=" mainMovie?.tmdb?.backdrop_path| tmdb" alt="">
  </div>
  <!-- libs -->
  <section>
    <br>
    <h1>Best Movies</h1>
    <div class="movies">
      <div (click)="goToMovive(item)" *ngFor="let item of list;let first = first" class="movie">
        <img [class.active] = "first" [src]="item.stream_icon " alt="">
        <p>{{ item.name || 'Untitled' }}</p>
      </div>
    </div>
  </section>
  }
</div>
<!--  "x" -->
