<div class="main">
  <img
    src="/assets/images/logo.png"
    width="130px"
    alt=""
    class="logo"
  />
  <br />
  <br />
  <br />
  <h1>Netflix PLaning</h1>
  <br />
  <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
  <div class="boxPricing">
    <div class="ElementPrice">
      <div class=""></div>
      <div class="box"  [class.active]="planIndex == 0" (click)="changePlan(0)">Basic</div>
      <div class="box"  [class.active]="planIndex == 1" (click)="changePlan(1)">standard</div>
      <div class="box"  [class.active]="planIndex == 2" (click)="changePlan(2)">Premium</div>
    </div>
    <!-- rows -->
    @for (item of rows; track $index) {
    <div class="ElementPrice">
      <div class="item">
        <p>{{ item.title }}</p>
      </div>
      <div class="item" [class.active]="planIndex == 0">
        <p>{{ item.Basic }}</p>
      </div>
      <div class="item" [class.active]="planIndex == 1">
        <p>{{ item.Standard }}</p>
      </div>
      <div class="item" [class.active]="planIndex == 2">
        <p>{{ item.Premium }}</p>
      </div>
    </div>
    <div class="divider"></div>
    }
  </div>
  <div class="btm">
  <p>You can not cancel subscriptions</p>
  <button (click)=" payment()">subscript</button>
  </div>
</div>
