<div class="side-bar">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" alt="">
    <ul>
        <li  [routerLink]="['home']" [routerLinkActive]="'active'">
            <i class="fa-solid fa-chart-simple"></i>
            Dashboard
        </li>
        <li  [routerLink]="['users']" [routerLinkActive]="'active'">
            <i class="fa-solid fa-users"></i>
            Users
        </li>
        <li [routerLink]="['subscriptions']" [routerLinkActive]="'active'">
            <i class="fa-solid fa-coins"></i>
            Subscriptions
        </li>
        <li [routerLink]="['movies']" [routerLinkActive]="'active'">
            <i class="fa-solid fa-film"></i>
            Movies
        </li>
        <!-- <li [routerLink]="['settings']" [routerLinkActive]="'active'">
            <i class="fa-solid fa-sliders"></i>
            Settings
        </li> -->
    </ul>
    <div class="logout">
        <i></i>
        <p>Logout</p>
    </div>
</div>
