.main {
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 20px;
  p {
    color: grey;
  }
  h2,
  h3,h4 {
    font-weight: normal;
  }
  .listBody {
    width: 50%;
    .list {
      border: 1.2px solid rgb(139, 139, 139);
      padding: 20px 10px;
      border-radius: 5px;

      .item {
        text-align: start;
        padding: 10px 20px;
        border-bottom: 1px solid rgb(51, 51, 51);
        display: flex;
        cursor: pointer;
        flex-direction: column;
        gap: 10px;
        transition: 0.3s;
        &:hover,
        &.active {
          background: #122;
        }
      }
    }
    .Pagenation {
      padding: 20px;
      display: flex;
      gap: 20px;
      i {
        padding: 10px 14px;
        border-radius: 10px;
        background-color: red;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background-color: rgb(211, 0, 0);
        }
      }
    }
  }
  .details {
    width: 50%;
    background: rgb(39, 39, 39);
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    p{
      margin: 10px 0;
    }
  }
}
