<div class="hero">
  <app-nav-bar [isAuth]="true"></app-nav-bar>
  <div class="imgHero">
    <div class="filter"></div>
    <div class="paragraf">
      <h1>Unlimited movies, TV shows, and more</h1>
      <br />
      <p>
        Watch anywhere. Cancel anytime. <br />
        Ready to watch? Enter your email to create or restart your membership.
      </p>
      <div class="sender">
        <input type="email" placeholder="Email Adderss">
        <button>
          Get Started
        <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      </div>
    </div>
    <img
      src="https://gtwallpaper.org/sites/default/files/wallpaper/246844/netflix-background-246844-2224740-3441109.png"
      alt=""
      srcset=""
    />
  </div>
</div>
