<div class="home">
  <!-- info -->
  <div class="info">
    <br />
    <div class="headPage">
      <div>
        <h2>Business OverView!</h2>
        <br />
        <p>Welcome Admin How Are You Today?</p>
      </div>
      <div class="icons">
        <i class="fa-regular fa-comment"></i>
        |
        <i class="fa-solid fa-server"></i>
      </div>
    </div>
    <br />
    <!-- dataOfApplication -->
    <div class="data-applcation">
      <app-dashboardCard *ngFor="let item of items">{{
        item
      }}</app-dashboardCard>
    </div>
    <!-- chart line -->
     <br>
     <h3 style="color: rgb(207, 207, 207);">
      <i style="color: rgb(207, 207, 207);" class="fa-solid fa-chart-line"></i>
      System Options</h3>
    <div echarts #myLines [options]="lineOption" style="width: 100%;"></div>
      <!-- Last users Table -->
      <h3>Last {{lastUsers.length}} users</h3>
      <br>
       <table >
        <thead >
          <tr>
            <th>#ID</th>
            <th>image</th>
            <th>name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of lastUsers;let i=index;">
            <td>#{{i+1}}</td>
            <td ><img [src]="user.image" alt=""></td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
          </tr>
        </tbody>
       </table>
  </div>
  <!-- adminInfo -->
  <div class="admin-info">
    <!-- admin delails -->
    <div class="admin-details">
      <br />
      <h3>Admin details</h3>
      <br />
      <div class="admin-logo-name">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png"
          alt=""
        />
        <div class="inf">
          <h3>zakria nasser zekri</h3>
          <p>{{ "xxxzekoxxx@gmail.com" }}</p>
        </div>
      </div>
      <br />
      <p>total New Users</p>
      <div class="sps"></div>
      <h2>4,2k</h2>
      <div class="sps"></div>
      <p>total New Movies</p>
      <div class="sps"></div>
      <h2>1,6k</h2>
      <br />
      <!-- admin delails -->
      <button>Add New Movie</button>
    </div>
    <div  class="char-users">
      <h3 style="color: rgb(252, 76, 76);"> <i style="color: rgb(252, 76, 76);" class="fa-solid fa-chart-simple"></i> Business analytics</h3>
      <div echarts #myChart [options]="chartOption" class="demo-chart"></div>
      <p>
        <i class="fa-brands fa-redhat" style="margin: 0 10px;font-size: 20px;" aria-hidden="true"></i>
        Netfilx dashboard Power By zeko</p>
    </div>
  </div>
</div>
