<div class="user-details">
    <!-- userinfo -->
    <div class="user-info">
      <br>
      <img src="https://i.pinimg.com/736x/92/b4/e7/92b4e7c57de1b5e1e8c5e883fd915450.jpg" alt="">
      <div>
        <p>user #12315 information</p>
        <br>
            <h2>Zakria Zekri</h2>
            <div class="sps"></div>
            <p>{{"xxxzekoxxx57@gmail.com"}}</p>
            <div class="sps"></div>
            <p>0942667816</p>
            <br/>
            <p style="color: rgb(223, 255, 43);">
              <i style="color: rgb(223, 255, 43);" class="fa-solid fa-crown"></i>
              Premium</p>
            <br/>
              <div class="btn">
                <button>New Subscriptions</button>
                <button class="disb">Disabled User</button>
              </div>
        </div>
        <br>
    </div>
    <!-- tabs -->
     <div class="userEdit">
      <div class="tab-bar">
        <p (click)="tabIndexChanger(0)" [class.active]="tabIndex ==0">
          <i class="fa-solid fa-circle-info"></i>
          Details</p>
        <p  (click)="tabIndexChanger(1)" [class.active]="tabIndex ==1">
          <i class="fa-solid fa-arrow-right-arrow-left"></i>
          Transactions</p>
        <p  (click)="tabIndexChanger(2)" [class.active]="tabIndex ==2">
          <i class="fa-solid fa-money-check"></i>
          Plan</p>
      </div>
      <!-- tabs -->
       <div class="tabs">
        <ng-container *ngComponentOutlet="tabs[tabIndex]"></ng-container>

       </div>
     </div>
</div>
