<div class="bglogin">
  <img src="https://gtwallpaper.org/sites/default/files/wallpaper/246844/netflix-background-246844-2224740-3441109.png" alt="" srcset="">
  <div class="login">
    <app-nav-bar class="nav" [hiddenBtn]="true"></app-nav-bar>
      <form class="contianer">
        <h1>Sign In</h1>
        <br>
        <input type="email" required placeholder="Email or mobile number" >
        <input type="password" required placeholder="Password" >
        <br>
        <button (click)="login()" class="loginbtn">Sign In</button>
        <h4>OR</h4>
        <button class="new" [routerLink]="['/auth/signup']">New Account</button>
        <div class="rememberMe">
          <input class="check" type="checkbox" name="rememberMe" id="rememberMe">
          <label for="rememberMe">
            Remember Me
          </label>
        </div>
        <div class="info">
          <p>New to Netflix? <span> Sign up now. </span></p>
          <p>This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a></p>
        </div>
      </form>
      <p></p>
  </div>
</div>
