<div class="bglogin">
  <img src="https://gtwallpaper.org/sites/default/files/wallpaper/246844/netflix-background-246844-2224740-3441109.png" alt="" srcset="">
  <div class="login">
    <app-nav-bar class="nav" [isAuth]="false" [hiddenBtn]="true"></app-nav-bar>
      <div class="contianer">
        <h1>Sign In</h1>
        <br><br>
        <input type="email" required placeholder="Email or mobile number" >
        <input type="password" required placeholder="Password" >
        <br>
        <button class="loginbtn">Sign In</button>
        <h4>OR</h4>
        <button class="new">New Account</button>
        <div class="rememberMe">
          <input class="check" type="checkbox" name="rememberMe" id="rememberMe">
          <label for="rememberMe">
            Remember Me
          </label>
        </div>

      </div>
      <p></p>
  </div>
</div>
