<div class="main">
  <h2>Subscriptions</h2>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
    <mat-radio-button value="3">Option 3</mat-radio-button>
    <mat-radio-button value="4">Option 4</mat-radio-button>
  </mat-radio-group>
  <br>
  <mat-dialog-actions>
    <button mat-button style="background: red;" mat-dialog-close>subscript</button>
    <button mat-button mat-dialog-close>close</button>
  </mat-dialog-actions>
</div>


