$bgColor: #000;
$fontColor:white;
@font-face {
  font-family: "netfixFont";
  src: url("assets/fonts/font.woff2");
}

@font-face {
  font-family: "Punishment";
  src: url("assets/fonts/Punishment.otf");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  color: $fontColor;
  font-family:"netfixFont", "Cairo";
}
body{
  background-color: $bgColor;

}

*::-webkit-scrollbar {
  height: 5px;
  width: 8px;
  cursor: pointer;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #000000;
  cursor: pointer;
}

*::-webkit-scrollbar-track:hover {
  background-color: #000000;
  cursor: pointer;
}

*::-webkit-scrollbar-track:active {
  background-color: #000000;
}

*::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #FF0000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FF0202;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FF0000;
}


@keyframes view {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
  /* HTML: <div class="loader"></div> */
  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader {
      align-self: center;
      width: 50px;
      padding: 8px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: #b02a25;
      --_m: conic-gradient(#ff000000 10%, #f20000),
        linear-gradient(#000 0 0) content-box;
      -webkit-mask: var(--_m);
      mask: var(--_m);
      -webkit-mask-composite: source-out;
      mask-composite: subtract;
      animation: l3 1s infinite linear;
    }
    
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
  }

  // msgs

  .errorMsg {
    text-align: center;
    width: 100%;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb; 
    border-radius: .25rem;     
    margin: .5rem 0;           
    padding: .75rem 1.25rem;   
    color: #721c24;            
  }

.loadingBtn {
  margin: auto;
  width: 20px;
  // height: 50px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l32 1s infinite linear;
}
@keyframes l32 {to{transform: rotate(1turn)}}