$bgColor: #000;
$fontColor:white;
@font-face {
  font-family: "netfixFont";
  src: url("assets/fonts/font.woff2");
}

*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  color: $fontColor;
  font-family:"netfixFont", "Cairo";
}
body{
  background-color: $bgColor;

}
