<div class="movie">
  <div class="info">
    <br>
    <h1>Transaction</h1>
    <br>
    <p>List of Transactions in web site</p>
  </div>
  <br>
  <div class="conterller">
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input [(ngModel)]="inputSearch" (keyup)="seach()" type="text" placeholder="search Transaction ID">
    </div>
      <div class="btns">
        <!-- <button>
          <i class="fa fa-plus" aria-hidden="true"></i>
          Upload Film</button> -->
        </div>
  </div>
  <br>

  <table >
    <thead >
      <tr>
        <th>#ID</th>
        <th>Type</th>
        <th>Title</th>
        <th>Description</th>
        <th>Piad</th>
        <th>Cost</th>
        <th>Profit</th>
        <th>createad_at</th>
        <th>option</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let movie of data;let i=index;">
        <td>#{{movie.id}}</td>
        <!-- <td ><img class="poster" [src]="movie.stream_icon" alt=""></td> -->
        <td>{{movie.type}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.description}}</td>
        <td>{{movie.piad + " LYD"}}</td>
        <td>{{movie.cost + " LYD"}}</td>
        <td>{{movie.profit + " LYD"}}</td>
        <td>{{movie.created_at | date}}</td>
        <td class="options">
          <i  class="fa-solid fa-trash"></i>
        </td>
      </tr>
    </tbody>
   </table>

   <div class="pagnation">
    <i (click)="prevPage()" class="fa-solid fa-chevron-left"></i>
    <i (click)="nextPage()" class="fa-solid fa-chevron-right"></i>
   </div>
</div>
